--- 
BasedOnStyle  :       LLVM
IndentWidth   :          2
TabWidth      :          2
UseTab        :      Never
---
Language      :        Cpp
ColumnLimit   :        100
---
Language      :      Proto
DisableFormat :       true
